.header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 40px
    &-input
        &_search
            width: 690px
            background-image: url(../img/header/home.svg)