.hide
    display: none

.user-name
    display: none
    margin-right: 20px
    font-weight: bold
    font-size: 18px

.buttons
    display: flex
    align-items: center

.button
    display: flex
    align-items: center
    padding: 8px 16px
    background: $bg-color
    border: 1px solid $border-color
    box-sizing: border-box
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015)
    border-radius: 2px
    color: $special-text-color
    font-size: 16px
    line-height: 24px

.button:hover
    background: $active-color
    border: 1px solid $active-color
    color: $bg-color-light

.button-primary
    background: $active-color
    border: 1px solid $active-color
    color: $bg-color-light
    margin-right: 10px

.button-primary:hover
    background: $bg-color
    border: 1px solid $border-color
    color: $special-text-color

.button-icon
    margin-right: 6px

.button-card-text
    margin-right: 10px

.button-auth
    background-position: 20px 13px

.button-primary .button-auth-svg
    width: 24px
    height: 24px
    background-color: $bg-color-light
    mask: url("../img/icon/user.svg") no-repeat 50% 50%
    background-repeat: no-repeat

.button-primary:hover .button-auth-svg
    background-color: $special-text-color

.button .button-cart-svg
    width: 24px
    height: 24px
    background-color: $special-text-color
    mask: url("../img/icon/shopping-cart.svg") no-repeat 50% 50%
    background-repeat: no-repeat

.button-primary .button-cart-svg
    background-color: $bg-color-light

.button:hover .button-cart-svg
    background-color: $bg-color-light

.button-primary:hover .button-cart-svg
    background-color: $special-text-color

.button-cart
    display: none
    margin: 0 5px

.button-out
    display: none
    margin: 0 5px
